@font - face {
    font - family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('Robotothin.txt') format('woff2'), url('Robotothin-1.txt') format('woff'), url('Robotothin-2.txt') format('truetype');
    font - weight: 100;
    font - style: normal;
}
@font - face {
    font - family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('Robotothinitalic.txt') format('woff2'), url('Robotothinitalic-1.txt') format('woff'), url('Robotothinitalic-2.txt') format('truetype');
    font - weight: 100;
    font - style: italic;
}
@font - face {
    font - family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('Robotolight.txt') format('woff2'), url('Robotolight-1.txt') format('woff'), url('Robotolight-2.txt') format('truetype');
    font - weight: 300;
    font - style: normal;
}
@font - face {
    font - family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('Robotolightitalic.txt') format('woff2'), url('Robotolightitalic-1.txt') format('woff'), url('Robotolightitalic-2.txt') format('truetype');
    font - weight: 300;
    font - style: italic;
}
@font - face {
    font - family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('Roboto.txt') format('woff2'), url('Roboto.woff') format('woff'), url('Roboto-1.txt') format('truetype');
    font - weight: 400;
    font - style: normal;
}
@font - face {
    font - family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('Robotoitalic.txt') format('woff2'), url('Robotoitalic-1.txt') format('woff'), url('Robotoitalic-2.txt') format('truetype');
    font - weight: 400;
    font - style: italic;
}
@font - face {
    font - family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('Robotomedium.txt') format('woff2'), url('Robotomedium-1.txt') format('woff'), url('Robotomedium-2.txt') format('truetype');
    font - weight: 500;
    font - style: normal;
}
@font - face {
    font - family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('Robotomediumitalic.txt') format('woff2'), url('Robotomediumitalic-1.txt') format('woff'), url('Robotomediumitalic-2.txt') format('truetype');
    font - weight: 500;
    font - style: italic;
}
@font - face {
    font - family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('Robotobold.txt') format('woff2'), url('Robotobold-1.txt') format('woff'), url('Robotobold-2.txt') format('truetype');
    font - weight: 700;
    font - style: normal;
}
@font - face {
    font - family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('Robotobolditalic.txt') format('woff2'), url('Robotobolditalic-1.txt') format('woff'), url('Robotobolditalic-2.txt') format('truetype');
    font - weight: 700;
    font - style: italic;
}
@font - face {
    font - family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('Robotoblack.txt') format('woff2'), url('Robotoblack-1.txt') format('woff'), url('Robotoblack-2.txt') format('truetype');
    font - weight: 900;
    font - style: normal;
}
@font - face {
    font - family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('Robotoblackitalic.txt') format('woff2'), url('Robotoblackitalic-1.txt') format('woff'), url('Robotoblackitalic-2.txt') format('truetype');
    font - weight: 900;
    font - style: italic;
}